<ion-header>
  <ion-toolbar>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="trail">

  <ion-img src="{{trail.imgMedium}}" class="main-image"></ion-img>
  <div class="buttonDiv">
    <a class="a-button">I've Hiked this</a>
    <a class="a-button">I want to Hike this</a>
  </div>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="friends">
      <ion-label>I've Hiked this</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enemies">
      <ion-label>I want to Hike this</ion-label>
    </ion-segment-button>
  </ion-segment>
  <p style="text-align: center">{{trail.summary}}</p>
  <div class="info">
    <p>Length: {{trail.length}} miles</p>
    <p *ngIf="trail.difficulty == 'green'">Difficulty level: 1</p>
    <p *ngIf="trail.difficulty == 'greenBlue'">Difficulty level: 2</p>
    <p *ngIf="trail.difficulty == 'blue'">Difficulty level: 3</p>
    <p *ngIf="trail.difficulty == 'blueBlack'">Difficulty level: 4</p>
    <p *ngIf="trail.difficulty == 'black'">Difficulty level: 5</p>
  </div>
  <div *ngIf="trail.conditionStatus != 'Unknown'">
    {{trail.conditions | json}}
  </div>
</ion-content>
