<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="title">
      <ion-title>My Profile</ion-title>
      <div>
        <div class='user' *ngIf="user$ | async as user; else signIn">
          <img class='avatar' [src]='user.photoURL' [alt]="user.displayName">
          <!-- <div>{{ user.displayName }}</div> -->
          <ion-icon name="log-out" size="large" (click)='logOut()'></ion-icon>
        </div>
        <ng-template #signIn>
          <div (click)="login()">
            Sign in
            <ion-icon name="log-in" size="large"></ion-icon>
          </div>
        </ng-template>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="user$ | async as user ;else button">
    <ion-title>{{ user.displayName }}</ion-title>
    <div class="lists">
      <div>
        <ion-list *ngIf='hiked$ | async as hiked'>
          <ion-list-header>
            <ion-label>Hiked</ion-label>
          </ion-list-header>
          <ion-item class='select' *ngFor='let trail of hiked'>
            <ion-label  (click)=goToTrail(trail.id)>{{ trail.name }}</ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div>
        <ion-list *ngIf='toHike$ | async as toHike'>
          <ion-list-header>
            <ion-label>Want to Hike</ion-label>
          </ion-list-header>
          <ion-item class="select" *ngFor='let trail of toHike'>
            <ion-label  (click)=goToTrail(trail.id)>{{ trail.name }}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>

  <ng-template #button>
    <div class='cnter'>
      <div class='btn' (click)='login()'>
        <div class="image">&nbsp;</div>
        <div class='text'>
          Sign in with Google.
        </div>
      </div>
    </div>
  </ng-template>
</ion-content>