.image {
  object-fit: cover;
  height: 200px;
}

.info{
  display: flex;
  justify-content: space-around;
}
.ion-card-content{
  padding-bottom: 15px;
  padding-top: 10px;
}

.ion-card-header{
  padding-bottom: 5px;
}

.trail-title{
  font-size: 24px;
}

.card-holder{
  display:flex;
  justify-content: center;
}

.card{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 142.8px;
}
.card{
  button{
    align-self: flex-end;
  }
}

.searcher{
  display: flex;
  justify-content: space-around;
}