<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class='title'>
    <ion-title>Search</ion-title>
      <div>
        <div class='user' *ngIf="user$ | async as user; else signIn">
          <img class ='avatar' [src]='user.photoURL' [alt]="user.displayName">
          <!-- <div>{{ user.displayName }}</div> -->
          <ion-icon name="log-out" size="large" (click)='logOut()'></ion-icon>
        </div>
        <ng-template #signIn >
          <div (click)="login()"> 
            Sign in
            <ion-icon name="log-in" size="large"></ion-icon>
          </div>
        </ng-template>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Search by Zip Code</ion-card-subtitle>
      <!--<ion-card-title>Search by Zip Code</ion-card-title>-->
    </ion-card-header>

    <ion-card-content>
      <ion-input placeholder="Zip Code" type="numbers" color="dark"></ion-input>
    </ion-card-content>
  </ion-card>
  <p style="text-align: center">-------OR-------</p>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Search by Current Location</ion-card-subtitle>
      <!--<ion-card-title>Search by Zip Code</ion-card-title>-->
    </ion-card-header>

    <ion-card-content>
      <ion-button (click)="trailsByGeoLoc()">Get Current Location</ion-button>
      <!--<ion-button (click)="log()">trails$</ion-button>-->
    </ion-card-content>
  </ion-card>
  <div class="cardlist" *ngIf="trails$ | async as trails">
    <!--{{trails | json}}-->
    <ion-card *ngFor="let trail of trails.trails" (click)="goToTrail(trail.id)">
      <ion-img src="{{trail.imgMedium}}" class="image"></ion-img>
      <!--{{trail | json}}-->
      <ion-card-header>
        <ion-card-title class="trail-title">{{trail.name}}</ion-card-title>
        <ion-card-subtitle>{{trail.location}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="info">
          <p>Length: {{trail.length}} miles</p>
          <p *ngIf="trail.difficulty == 'green'">Difficulty level: 1</p>
          <p *ngIf="trail.difficulty == 'greenBlue'">Difficulty level: 2</p>
          <p *ngIf="trail.difficulty == 'blue'">Difficulty level: 3</p>
          <p *ngIf="trail.difficulty == 'blueBlack'">Difficulty level: 4</p>
          <p *ngIf="trail.difficulty == 'black'">Difficulty level: 5</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>
