<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class='title'>
      <ion-title>Search</ion-title>
      <div>
        <div class='user' *ngIf="user$ | async as user; else signIn">
          <img class='avatar' [src]='user.photoURL' [alt]="user.displayName">
          <ion-icon name="log-out" size="large" (click)='logOut()'></ion-icon>
        </div>
        <ng-template #signIn>
          <div (click)="login()">
            Sign in
            <ion-icon name="log-in" size="large"></ion-icon>
          </div>
        </ng-template>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="card-holder">
    <div class="searcher">
      <div>
        <form action="submit" (submit)="trailsByZip()">
          <ion-label position="stacked">Search by Zip Code</ion-label>
          <ion-input name="zip" placeholder="Zip Code" type="numbers" [(ngModel)]="zipcode"></ion-input>
        </form>
      </div>
      <div>
        <ion-button (click)="trailsByGeoLoc()">Search byCurrent Location</ion-button>
      </div>
    </div>
    <!--<ion-card>-->

    <!--<ion-card-header>-->
    <!--<ion-card-subtitle>Search by Zip Code</ion-card-subtitle>-->
    <!--&lt;!&ndash;<ion-card-title>Search by Zip Code</ion-card-title>&ndash;&gt;-->
    <!--</ion-card-header>-->

    <!--<ion-card-content>-->
    <!--<ion-input placeholder="Zip Code" type="numbers" color="dark"></ion-input>-->
    <!--</ion-card-content>-->
    <!--</ion-card>-->
    <!--&lt;!&ndash;<p style="text-align: center; align-self: center">-OR-</p>&ndash;&gt;-->
    <!--<ion-card>-->
    <!--<ion-card-header>-->
    <!--<ion-card-subtitle>Search by Current Location</ion-card-subtitle>-->
    <!--&lt;!&ndash;<ion-card-title>Search by Zip Code</ion-card-title>&ndash;&gt;-->
    <!--</ion-card-header>-->

    <!--<ion-card-content>-->
    <!--<ion-button (click)="trailsByGeoLoc()" size="small">Get Current Location</ion-button>-->
    <!--&lt;!&ndash;<ion-button (click)="log()">trails$</ion-button>&ndash;&gt;-->
    <!--</ion-card-content>-->
    <!--</ion-card>-->
  </div>

  <div class="cardlist" *ngIf="trails$ | async as trails">
    <!--{{trails | json}}-->
    <ion-card *ngFor="let trail of trails.trails" (click)="goToTrail(trail.id)">
      <ion-img src="{{trail.imgMedium}}" class="image"></ion-img>
      <!--{{trail | json}}-->
      <ion-card-header>
        <ion-card-title class="trail-title">{{trail.name}}</ion-card-title>
        <ion-card-subtitle>{{trail.location}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="info">
          <p>Length: {{trail.length}} miles</p>
          <p *ngIf="trail.difficulty == 'green'">Difficulty level: 1</p>
          <p *ngIf="trail.difficulty == 'greenBlue'">Difficulty level: 2</p>
          <p *ngIf="trail.difficulty == 'blue'">Difficulty level: 3</p>
          <p *ngIf="trail.difficulty == 'blueBlack'">Difficulty level: 4</p>
          <p *ngIf="trail.difficulty == 'black'">Difficulty level: 5</p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>